body {
    height: 100vh;
    margin: 0;
    padding: 0;
    
    font-family: 'Poppins', sans-serif;
}

/* footer
footer {
    background-color: var(--bg-primary);
    color: var(--text-white);
}

footer p {
    text-align: center;
    padding: 16px;
} */



a:visited {
    text-decoration: none;
}

a:link {
    text-decoration: none;
}